.Color {
    $dimension: min(4.5vw, 4.5vh);

    width: $dimension;
    height: $dimension;

    border: 0px;
    margin: min(1vw, 1vh);

    transition: 0.1s ease;
    border-radius: 100%;
}

.Color:hover {
    scale: 1.1;
}
