.Colors {
    display: flex;
    justify-content: center;

    padding-top: 20px;
    padding-bottom: 10px;
}

.Buttons {
    display: flex;
    justify-content: center;

    padding-top: 10px;
    padding-bottom: 10px;
}

button {

    padding: 10px;
    width: 50%;
    margin: 10px;
    text-align: center;
    vertical-align: middle;

    border: 1px solid ;

    border-radius: 10px;

    text-align: center;
    font-size: 80%;

    transition: all .15s ease;
}

button:hover {
    scale: 1.1;
}
