.Colors {
    display: flex;
    justify-content: center;

    padding-top: 20px;
    padding-bottom: 10px;

    .darkToggle {
        width: min(4.5vw, 4.5vh);
        height: min(4.5vw, 4.5vh);

        border: min(1vw, 1vh) solid;
        margin: min(1vw, 1vh);
        align-self: center;

        transition: 0.1s ease;
        border-radius: 100%;
    }

    .darkToggle:hover {
        scale: 1.1;
    }

}

.MapSelection {
    height: min(6vw, 6vh);
    width: 94%;

    border-radius: 15px;
    font-size: 80%;
    padding: 10px;
}
