

$dimension: min(5vw, 5vh);

.Cell {
    width: $dimension;
    height: $dimension;

    transition: all .15s ease;

    animation-name: breathe;
    animation-iteration-count: infinite;
}

@keyframes breathe {
    0% { transform: scale(1);}
    25% { transform: scale(0.9);}
    50% { transform: scale(1);}
    75% { transform: scale(1.1);}
    100% { transform: scale(1);}
}
