.Map {
  .Move {
    display: block;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .End {
    font-size: max(8vw, 8vh);
    display: block;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
