.Controls {

    $dimension: min(11vw, 11vh);

    display: grid;
    display: flex;
    justify-content: center;

    width: 100%;

    button {

        text-align: center;
        vertical-align: middle;

        background-color: black;

        font-size: min(4vw, 4vh);
        width: $dimension;
        height: $dimension;

        transition: all .15s ease-in-out;
    }

    .Move {
        text-align: center;
        height: 100%
    }
}

input {
    display: block;
    margin: auto;
    width: 95%;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    background-color: black;
    border-radius: 15px;
    font-size: 80%;
    padding: 10px;
}

.Move {
    color: white;
    font-size: max(2vw, 2vh);
    display: block;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.End {
    color: white;
    font-size: max(8vw, 8vh);
    display: block;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
